In [4]:
import v20
import defs
import analyser

defs imported

In [5]:
ctx = v20.Context(hostname=defs.HOSTNAME, token=defs.key)
ctx.set_header(key='Authorization', value=defs.key)
a = analyser.Analyser(ctx)
a

In [ ]:
ctx.account.

In [1]:
# óránként leszedjen 100 x M5 adatot;
# kiszámolja a linreg-et és a slope-t
# lementi jsonba; 
# mindezt annyi párra ami a defs. instruments-ben meg van határozba
# óránként ütemezni
# az analyzer ezt olvassa be.

8.333333333333334

In [6]:
df = a.get_candles('EUR_USD')
df

,complete,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,True,219,1.15964,1.15980,1.15954,1.15980,1.15957,1.15973,1.15947,1.15972,1.15971,1.15988,1.15961,1.15987
1,True,283,1.15978,1.15990,1.15972,1.15989,1.15971,1.15984,1.15965,1.15983,1.15985,1.15996,1.15979,1.15995
2,True,228,1.15987,1.16024,1.15982,1.16024,1.15980,1.16017,1.15975,1.16016,1.15994,1.16033,1.15990,1.16032
3,True,163,1.16025,1.16026,1.16008,1.16024,1.16018,1.16019,1.16001,1.16017,1.16032,1.16034,1.16015,1.16030
4,True,199,1.16022,1.16026,1.16011,1.16024,1.16015,1.16019,1.16004,1.16017,1.16029,1.16032,1.16018,1.16031
5,True,321,1.16022,1.16066,1.16022,1.16049,1.16016,1.16059,1.16016,1.16042,1.16029,1.16074,1.16029,1.16056
6,True,440,1.16048,1.16060,1.16036,1.16059,1.16041,1.16053,1.16030,1.16052,1.16055,1.16067,1.16043,1.16066
7,True,446,1.16058,1.16063,1.16026,1.16038,1.16050,1.16056,1.16020,1.16032,1.16065,1.16070,1.16033,1.16045
8,True,228,1.16037,1.16066,1.16028,1.16063,1.16030,1.16059,1.16021,1.16056,1.16044,1.16072,1.16035,1.16070
9,True,266,1.16065,1.16076,1.16062,1.16071,1.16058,1.16070,1.16055,1.16064,1.16072,1.16082,1.16069,1.16078
10,True,318,1.16069,1.16080,1.16060,1.16062,1.16062,1.16074,1.16053,1.16056,1.16076,1.16087,1.16067,1.16069
11,True,556,1.16062,1.16108,1.16051,1.16100,1.16055,1.16102,1.16044,1.16092,1.16068,1.16116,1.16058,1.16107
12,True,346,1.16098,1.16104,1.16072,1.16076,1.16091,1.16097,1.16064,1.16069,1.16105,1.16111,1.16079,1.16082
13,True,486,1.16077,1.16131,1.16076,1.16118,1.16070,1.16124,1.16070,1.16111,1.16084,1.16138,1.16083,1.16125
14,False,381,1.16116,1.16130,1.16073,1.16075,1.16109,1.16122,1.16066,1.16067,1.16124,1.16137,1.16080,1.16083