In [1]:
# Oanda API teszter

In [2]:
## Account

In [15]:
import pandas as pd

In [9]:
import cfg
import trader
import quant

In [10]:
print(f'{cfg.account.balance} nav:{cfg.account.NAV} margin:{cfg.account.marginAvailable}')

1512.1392 nav:1512.2025 margin:1457.3331

In [17]:
trades=[]
for t in cfg.account.trades:
    trade = dict(
    instrument=t.instrument,
    currentunits=t.currentUnits,
    unrealizedPL = t.unrealizedPL)
    trades.append(trade)
trades_df = pd.DataFrame(trades)
trades_df

  instrument  currentunits  unrealizedPL
0    EUR_USD        -373.0        0.3059
1    EUR_GBP        -371.0        0.0649
2    EUR_CHF        -367.0        0.2612
3    EUR_JPY        -368.0       -0.0161
4    EUR_CAD         366.0       -0.2377

In [4]:
print(f'{cfg.account.balance} nav:{cfg.account.NAV} margin:{cfg.account.marginAvailable}')

1512.1392 nav:1512.7256 margin:1466.2468

In [5]:
def check_breakeven_for_instrument(instrument: str, trades: list):
    all_breakeven = []
    for t in trades:
        if t.instrument == instrument:
            for o in cfg.account.orders:
                if o.id == t.stopLossOrderID:
                    all_breakeven.append(
                    (t.currentUnits > 0 ) and (o.price >=t.price)
                    or
                    (t.currentUnits <0 and o.price<=t.price))
    return all(all_breakeven)

In [6]:
check_breakeven_for_instrument('AUD_USD', cfg.account.trades)

True

In [7]:
for t in cfg.account.trades:
    print(t)
    break

id: '186741'
instrument: EUR_USD
price: 1.14454
openTime: '2022-02-07T15:18:02.366149067Z'
state: OPEN
initialUnits: -373.0
initialMarginRequired: 8.5388
currentUnits: -373.0
realizedPL: 0.0
unrealizedPL: 0.1417
marginUsed: 8.535
financing: 0.0
takeProfitOrderID: '186742'
stopLossOrderID: '186743'
trailingStopLossOrderID: '186744'

In [8]:
for o in cfg.account.orders:
    print(o)
    break

id: '183410'
createTime: '2022-01-26T09:38:07.001886322Z'
state: PENDING
type: TAKE_PROFIT
tradeID: '183409'
price: 0.71371
timeInForce: GTC
triggerCondition: DEFAULT

In [10]:
for p in cfg.account.positions:
    print(p)
    break

instrument: EUR_USD
pl: -388.9146
unrealizedPL: 0.6079
marginUsed: 8.2099
resettablePL: -388.9146
financing: -78.4801
commission: 0.0
guaranteedExecutionFees: 0.0
long:
  units: 0.0
  pl: -156.3461
  unrealizedPL: 0.0
  resettablePL: -156.3461
  financing: -79.6348
  guaranteedExecutionFees: 0.0
short:
  units: -364.0
  averagePrice: 1.12933
  tradeIDs:
  - '183576'
  pl: -232.5685
  unrealizedPL: 0.6079
  resettablePL: -232.5685
  financing: 1.1547
  guaranteedExecutionFees: 0.0

In [11]:
cfg.instruments['EUR_USD']

{'name': 'EUR_USD',
 'type': 'CURRENCY',
 'displayName': 'EUR/USD',
 'pipLocation': -4,
 'displayPrecision': 5,
 'tradeUnitsPrecision': 0,
 'minimumTradeSize': '1.0',
 'maximumTrailingStopDistance': '1.0',
 'minimumTrailingStopDistance': '0.0005',
 'maximumPositionSize': '0.0',
 'maximumOrderUnits': '100000000.0',
 'marginRate': '0.02',
 'bid': 1.12766,
 'ask': 1.12779,
 'spread': 0.00013}

In [ ]:
# Quant class and methods

In [22]:
q = quant.Quant()
q.get_candles('EUR_USD')

,complete,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,True,2022-02-07 14:20,507,1.14246,1.14252,1.14204,1.14222,1.14238,1.14244,1.14198,1.14215,1.14253,1.14259,1.14211,1.14230
1,True,2022-02-07 14:25,459,1.14220,1.14255,1.14217,1.14254,1.14213,1.14248,1.14209,1.14247,1.14228,1.14262,1.14224,1.14261
2,True,2022-02-07 14:30,516,1.14255,1.14298,1.14254,1.14288,1.14248,1.14290,1.14247,1.14281,1.14262,1.14305,1.14262,1.14295
3,True,2022-02-07 14:35,631,1.14286,1.14331,1.14278,1.14325,1.14279,1.14324,1.14271,1.14318,1.14294,1.14338,1.14286,1.14332
4,True,2022-02-07 14:40,649,1.14324,1.14340,1.14295,1.14338,1.14317,1.14334,1.14288,1.14331,1.14331,1.14347,1.14302,1.14345
5,True,2022-02-07 14:45,640,1.14336,1.14388,1.14302,1.14309,1.14330,1.14380,1.14295,1.14302,1.14343,1.14397,1.14309,1.14316
6,True,2022-02-07 14:50,652,1.14307,1.14326,1.14263,1.14294,1.14300,1.14319,1.14256,1.14286,1.14314,1.14333,1.14270,1.14301
7,True,2022-02-07 14:55,761,1.14294,1.14403,1.14294,1.14382,1.14288,1.14396,1.14288,1.14375,1.14301,1.14410,1.14301,1.14389
8,True,2022-02-07 15:00,641,1.14384,1.14402,1.14331,1.14346,1.14377,1.14395,1.14324,1.14339,1.14391,1.14409,1.14338,1.14353
9,True,2022-02-07 15:05,441,1.14347,1.14390,1.14344,1.14374,1.14340,1.14383,1.14336,1.14368,1.14354,1.14397,1.14351,1.14381
10,True,2022-02-07 15:10,529,1.14376,1.14426,1.14371,1.14426,1.14369,1.14420,1.14364,1.14420,1.14383,1.14433,1.14378,1.14433
11,True,2022-02-07 15:15,316,1.14426,1.14483,1.14416,1.14480,1.14419,1.14476,1.14410,1.14473,1.14432,1.14490,1.14423,1.14486
12,True,2022-02-07 15:20,487,1.14478,1.14484,1.14424,1.14437,1.14471,1.14477,1.14417,1.14430,1.14485,1.14490,1.14431,1.14444
13,True,2022-02-07 15:25,492,1.14436,1.14446,1.14391,1.14435,1.14428,1.14439,1.14384,1.14429,1.14443,1.14452,1.14398,1.14441
14,False,2022-02-07 15:30,420,1.14436,1.14438,1.14360,1.14402,1.14429,1.14431,1.14353,1.14396,1.14443,1.14444,1.14366,1.14407